<h1 class="text-center mb-4">Lessons for <%= @course.title %></h1>

<div class="container">
  <div class="row justify-content-center">
    <% @lessons.each do |lesson| %>  
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-0 rounded-3 hover-scale">
          <div class="card-body text-center">
            <h5 class="card-title text-dark fw-bold mb-3">
              <%= lesson.title %>
            </h5>
            <p class="card-text text-muted mb-3">
              <%= truncate(lesson.content, length: 150) %> <!-- Shows first 150 characters of the content -->
            </p>
            <%= link_to 'View Lesson', course_lesson_path(id: lesson.id), class: 'btn btn-primary btn-sm rounded-pill px-3 py-2 text-decoration-none' %>
            <% if (current_user.instructor? && current_user == lesson.course.user) || current_user.admin? %>
              <!-- Edit Button -->
              <%= link_to 'Edit', edit_course_lesson_path(lesson.course_id, lesson.id), class: 'btn btn-warning btn-sm rounded-pill mx-2' %>
              
              <!-- Delete Button -->
              <%= button_to 'Delete', course_lesson_path(lesson.course_id, lesson.id), method: :delete, class: 'btn btn-danger btn-sm rounded-pill' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= link_to 'Back to Course', course_path(@course), class: 'btn btn-primary btn-lg rounded-pill px-4 mb-3' %>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary btn-lg rounded-pill px-4 mb-3'%>
  </div>
</div>

<style>
  .hover-scale:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none; 
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .btn-primary:focus, .btn-primary:active {
    outline: none; 
    box-shadow: none;
  }

  .btn-sm {
    font-size: 0.875rem;  
    padding: 8px 15px; 
  }
</style>
