<h1>Edit Course</h1>

<%= form_with model: @course do |form| %>

    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description %><br>
    </div>

    <div>
      <%= form.submit %>
    </div>
<% end %>
  