<h1>This is cources listing page</h1>

<% @courses.each do |course| %>  
  <% if course.user_id == current_user.id || current_user.student? || current_user.admin? %>
    <h2><%= course.title %></h2>  
    <p><%= course.description %></p>
    <%= link_to 'View', course_path(course.id) %> 
  <% end %>  
<% end %><br>

<%= link_to 'Create Course', new_course_path if current_user.instructor? %><br>
<%= link_to 'Back to home', root_path %>
