<div class="container">
  <div class="row justify-content-center">
    <% if @courses.any? %>
      <div class="row">
        <% @courses.each do |course| %>
          <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 rounded-3 hover-scale">
              <div class="card-body text-center">
                <p>By <%= course.user.email %> </p>

                <h5 class="card-title text-dark fw-bold mb-3">
                  <%= link_to course.title, course_path(course.id), class: 'text-decoration-none text-dark' %>
                </h5>

                <div class="badge bg-primary rounded-pill p-2">
                  <%= course.lessons.count %> Lessons
                </div>

                <% if can?(:edit, course) %>
                  <%= link_to 'Edit', edit_course_path(course.id), class: 'btn btn-warning btn-sm rounded-pill mx-2' %>
                <% end %>
                
                <% if can?(:destroy, course) %>
                  <%= button_to 'Delete', course_path(course.id), method: :delete, class: 'btn btn-danger btn-sm rounded-pill' %>
                <% end %>

                <% if current_user.admin? %>
                  <%= link_to 'Enrollments', course_enrollments_path(course.id), class: 'btn btn-primary btn-sm rounded-pill' %>
                <% end %>

                <% if current_user == course.user %>
                 <p> <%= course.enrolled_students.count == 1 ? '1 student enrolled' : "#{course.enrolled_students.count} students enrolled" %> </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-warning text-center" role="alert">
        No courses found for your search.
      </div>
    <% end %>
  </div>

  <!-- Create Course Button: Show if user has permission to create courses -->
  <div class="text-center mt-4">
    <% if can? :create, Course %>
      <%= link_to 'Create course', new_course_path, class: 'btn btn-warning btn-lg rounded-pill px-4 mb-3' %>
    <% end %>
    
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary btn-lg rounded-pill px-4 mb-3'%>
  </div>
</div>

<style>
  .hover-scale:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-sm {
    padding: 6px 12px; 
    font-size: 0.875rem; 
  }

  .view-button {
    font-size: 0.875rem; 
    padding: 6px 12px; 
  }

  .card-body {
    padding: 20px;
  }

  .mx-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
</style>
