<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-4">
      <div class="card shadow-lg border-0 rounded-3 hover-scale">
        <div class="card-body text-center">

          <div class="course-image mb-4">
            <% if @course.picture.present? %>
              <%= image_tag @course.picture.image, class: "img-fluid rounded-3 mb-3", style: "max-height: 150px; object-fit: cover;" %>
            <% else %>
              <p>No image available</p>
            <% end %>
          </div>

          <p>By <%= @course.user.email %></p>
          <div class="badge bg-primary rounded-pill p-2">
            <%= link_to @course.lessons.count == 1 ? '1 lesson' : "#{@course.lessons.count} lessons", course_lessons_path(@course), class: 'text-decoration-none text-dark' %>
          </div>
          <h5 class="card-title text-dark fw-bold mb-3"><%= @course.title %></h5>
          <p class="card-text text-muted"><%= @course.description %></p>

          <% if current_user.enrolled_courses.include?(@course) && current_user.student? %>
            <% completed_lessons_count = 0 %>
            <% total_lessons_count = @course.lessons.count %>

            <% @course.lessons.each do |lesson| %>
              <% if CompletedLesson.exists?(user_id: current_user.id, lesson_id: lesson.id, completed: true) %>
                <% completed_lessons_count += 1 %>
              <% end %>
            <% end %>  

            <h5 class="mt-4">
              <% if completed_lessons_count == total_lessons_count %>
                This course is completed
              <% elsif completed_lessons_count == 0 %>
                This course is not started yet
              <% else %>
                This course is in progress
              <% end %>
            </h5>
            <h5><%= completed_lessons_count %> out of <%= total_lessons_count %> lessons completed</h5>

            <% if completed_lessons_count == total_lessons_count %>
              <%= link_to 'Generate Certificate', certificate_course_path(@course), class: 'btn btn-primary btn-sm rounded-pill mt-3' %>
            <% else %>
              <button class="btn btn-secondary btn-sm rounded-pill mt-3" disabled>Complete all lessons to generate certificate</button>
            <% end %>
          <% end %>

          <div class="mt-4">
            <% if current_user.enrolled_courses.include?(@course) || current_user.courses.include?(@course) %>
              <%= link_to 'View Lessons', course_lessons_path(@course), class: 'btn btn-primary btn-sm rounded-pill mt-3' %>
              <%= link_to 'UnEnroll', course_enrollment_path(@course.id), data: { turbo_method: :delete }, class: 'btn btn-danger btn-sm rounded-pill mt-3' unless current_user.instructor? && current_user.courses.include?(@course) %>
            <% else %>
              <%= link_to 'Enroll', course_enrollments_path(@course.id), data: { turbo_method: :post }, class: 'btn btn-primary btn-sm rounded-pill mt-3' unless current_user.instructor? && current_user.courses.include?(@course) %>
            <% end %>

            <% if current_user.instructor? && current_user == @course.user %>
              <%= link_to 'Add lessons', new_course_lesson_path(course_id: @course.id), class: 'btn btn-success btn-sm rounded-pill mt-3' %>
            <% end %>           

            <% if (current_user.instructor? && current_user == @course.user) || current_user.admin? %>
              <div class="d-flex justify-content-center mt-3">
                <%= link_to 'Edit', edit_course_path(@course.id), class: 'btn btn-warning btn-sm rounded-pill me-2' %>
                <%= button_to 'Delete', course_path(@course.id), method: :delete, class: 'btn btn-danger btn-sm rounded-pill' %>
              </div>
            <% end %>
            <% if current_user.admin? %>
              <div class="badge bg-primary rounded-pill p-2">
                <%= link_to @course.enrolled_students.count == 1 ? '1 student enrolled' : "#{@course.enrolled_students.count} students enrolled", course_enrollments_path(@course.id), class: 'text-decoration-none text-dark' %>
              </div>
            <% elsif current_user == @course.user %>
              <div class="badge bg-primary rounded-pill p-2">
                <%= @course.enrolled_students.count == 1 ? '1 student enrolled' : "#{@course.enrolled_students.count} students enrolled" %>
              </div>                  
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4">
  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary btn-lg rounded-pill px-4 mb-3'%>
</div>
