<h1>This is course show page</h1>

<h1><%= @course.title %></h1>

<p><%= @course.description %></p>

<% if current_user.enrolled_courses.include?(@course) || current_user.courses.include?(@course) %>
  <%= link_to 'View Lessons', course_lessons_path(@course) %><br>
  <%= link_to 'UnEnroll', course_enrollment_path(@course.id), data: { turbo_method: :delete } if current_user.student? %><br>
<% else %>
  <%= link_to 'Enroll', course_enrollments_path(@course.id),  data: { turbo_method: :post } %><br>
<% end %>

<% if current_user.instructor? %>
  <%= link_to 'Add lessons', new_course_lesson_path(course_id: @course.id) %>
<% end %>
<br>
<% if current_user.student? %>
  <%= link_to 'All courses', courses_path%><br>
  <%= link_to 'My learning', courses_path(clicked_my_learning: 'my_learning') %><br>
<% end %>

<% if current_user.instructor? %>
  <%= link_to 'Back to my courses', courses_path%><br>
<% end %>
