<div class="container">
  <div class="row justify-content-center">
    <% @categories.each do |category| %>  
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-0 rounded-3 hover-scale">
          <div class="card-body text-center">
            <div class="badge bg-primary rounded-pill p-2">
              <%=link_to category.courses.count == 1 ? '1 course' : "#{category.courses.count} courses", category_courses_path(category), class: 'text-decoration-none text-dark' %>
            </div>
            <h5 class="card-title text-dark fw-bold mb-3">
              <%= link_to category.name, category_courses_path(category), class: 'text-decoration-none text-dark' %>
            </h5>            
            <% if can? :manage, Category %>
              <%= link_to 'Edit category', edit_category_path(category), class: 'btn btn-warning btn-sm rounded-pill mx-2' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <% if can? :create, Category %>
      <%= link_to 'Create your own category', new_category_path, class: 'btn btn-success btn-lg rounded-pill px-4 mb-3' %>
    <% end %>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary btn-sm rounded-pill px-4 mb-3'%>
  </div>
</div>
