<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" width="91" height="34" alt="Udemy Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>

        <li class="nav-item">
          <%= form_tag courses_path, method: :get, class: 'd-flex' do %>
            <%= text_field_tag :q, params[:q], placeholder: 'Search...', class: 'form-control me-2' %>
            <%= submit_tag 'Search', class: 'btn btn-outline-success' %>
          <% end %>
        </li>

        <% if current_user && current_user.student? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path %>">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path(clicked_my_learning: 'my_learning') %>">My Learning</a>
          </li>
        <% elsif current_user && current_user.instructor? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path %>">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path(clicked_my_courses: 'my_courses') %>">My Courses</a>
          </li>
        <% elsif current_user && current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path %>">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path(clicked_my_learning: 'my_learning') %>">My Learning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= courses_path(clicked_my_courses: 'my_courses') %>">My Courses</a>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link btn-sign-in" href="<%= new_user_session_path %>">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-sign-up" href="<%= new_user_registration_path %>">Sign Up</a>
          </li>
        <% end %>  
      </ul>
    </div>
  </div>
</nav>
